body {
  font: caption;
}

.todo-item {
  background: none;
  padding: 0.5rem;
  margin: 0;
  cursor: pointer;
  font-size: 1rem;
}

.todo-item:nth-child(even) {
  background: #f4f4ff;
}

.todo-item:hover {
  background: #d8d8d8
}
